<!--<div class="panel no-bottom">-->
<!--    <md-toolbar class="demo-toolbar">-->
<!--        <div class="md-toolbar-tools modal-dialog">-->
<!--            <h3 class="panel-title">Frais de notaire à renseigner</h3>-->
<!--        </div>-->
<!--    </md-toolbar>-->
<!--    <div class="panel-body">-->
<!--        <form ng-submit="$event.preventDefault()" name="searchForm" layout="column" >-->
<!--                    <md-input-container>-->
<!--                        <label>prix du bien </label>-->
<!--                        <input type="number" required ng-model="notaryFreesInfo.cost" ng-value="">-->
<!--                    </md-input-container>-->
<!--                    <md-input-container>-->
<!--                        <label>Type de propriété </label>-->
<!--                        <md-select ng-model="notaryFreesInfo.propertyType">-->
<!--                            <md-option><em>-&#45;&#45;</em></md-option>-->
<!--                            <md-option ng-repeat="property in propertiesType" ng-value="property">{{property}}-->
<!--                            </md-option>-->
<!--                        </md-select>-->
<!--                    </md-input-container>-->
<!--                    <md-input-container>-->
<!--                        <md-autocomplete-->
<!--                                md-input-name="autocompleteField"-->
<!--                                md-input-minlength="3"-->
<!--                                md-selected-item="notaryFreesInfo.localite"-->
<!--                                md-search-text="searchText"-->
<!--                                md-items="location in querySearch(searchText)"-->
<!--                                md-item-text="location.code.toString()"-->
<!--                                md-floating-label="code postal"-->
<!--                        >-->
<!--                            <md-item-template>-->
<!--                                <span md-highlight-text="ctrl.searchText">{{location.city}} - {{location.code}}</span>-->
<!--                            </md-item-template>-->
<!--                        </md-autocomplete>-->
<!--                    </md-input-container>-->
<!--            <md-button type="submit" class="md-raised btn-color-form" ng-disabled="!$ctrl.enabled()">-->
<!--                <span >calculer</span>-->
<!--            </md-button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<md-dialog aria-label="Autocomplete Dialog Example">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Informations pour calculer les frais de notaire </h2>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content" cg-busy="{promise:ctrl.cgPromise}">
            <form ng-submit="$event.preventDefault()" name="searchForm" layout="column">
                <md-input-container style="height: 34px;">
                    <label>prix du bien </label>
                    <input type="number" required ng-model="ctrl.notaryFreesInfo.cost" ng-value="ctrl.notaryFreesInfo.cost">
                </md-input-container>
                <md-input-container>
                    <label>Type de propriété </label>
                    <md-select ng-model="ctrl.notaryFreesInfo.propertyType">
                        <md-option><em>---</em></md-option>
                        <md-option ng-repeat="property in ctrl.propertiesType" ng-value="property">{{property}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-autocomplete
                        md-input-name="autocompleteField"
                        md-input-minlength="3"
                        md-selected-item="ctrl.notaryFreesInfo.localite"
                        md-search-text="ctrl.searchText"
                        md-items="location in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="location.code.toString()"
                        md-floating-label="ville ou code postal">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText">{{location.city}} - {{location.code}}</span>
                    </md-item-template>
                </md-autocomplete>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-input-container flex="40" style="margin-right: 35%;" ng-if="notaryFreesInfo.price">
            <label>Frais notaire</label>
            <input type="text" disabled class="form-control"  aria-label="frais de notaire" ng-value="notaryFreesInfo.price" placeholder="">
        </md-input-container>
        <md-button type="submit" class="md-raised btn-color-form" ng-disabled="!ctrl.valid()" ng-click="ctrl.calcul()">
            <span>calculer</span>
        </md-button>
    </md-dialog-actions>
</md-dialog>
