<md-content class="panel" flex-offset="5" flex-offset-md="8" style="padding-left: 0;" id="simulateur">
    <md-toolbar class="demo-toolbar" >
        <div class="md-toolbar-tools panel-dialog">
            <h3 class="panel-title">Calculatrice</h3>
            <span flex></span>
            <md-button class="md-icon-button icon-color" aria-label="Settings" ng-click="modalForm($event)">
                <md-tooltip>Cliquez pour les détails</md-tooltip>
                <md-icon md-svg-icon="public/img/info_outline.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout-fill hide-xs hide-sm hide-md>
        <md-content layout="row" layout-padding class="adapt-form">
            <md-input-container flex="25" >
                <label>Durée </label>
                <md-slider class="md-accent" aria-label="dureé"
                           ng-model="model.annee" value="0" max="35" min="0" step="1" ng-change="calcul()" placeholder=""></md-slider>
            </md-input-container>
            <md-input-container flex="15">
                <input type="text" class="form-control" ng-value="model.annee +(model.annee ? ' ans' : '')" disabled data-toggle="tooltip"
                       data-placement="right" aria-label="durée en année">
            </md-input-container>
            <md-input-container flex="30">
                <label>Capital </label>
                <input type="number" ng-model="model.capital" ng-change="calcul()" aria-label="" placeholder=""/>
            </md-input-container>
        </md-content>

        <md-content layout="row" layout-padding class="adapt-form">
            <md-input-container flex="25">
                <label>Taux emprunt</label>
                <md-slider  class="md-accent" aria-label="selectionnez le taux fixe"
                            ng-model="model.tauxNominal" value="0.00" max="10.00" min="0.00" step="0.01"
                            ng-change="teg();calcul()" placeholder=""></md-slider>
            </md-input-container>
            <md-input-container flex="15">
                <input type="text" class="form-control"  ng-value="model.tauxNominal +(model.tauxNominal ? ' %' : '')" aria-label="taux fixe" ng-model="model.tauxNominal" disabled ng-change="teg();calcul()">
            </md-input-container>
            <md-input-container flex="30">
                <label>Taux assurance</label>
                <md-slider class="md-accent" aria-label="selectionnez le taux d'assurance"
                           ng-model="model.tauxAssurance" value="0.00" max="10.00" min="0.00" step="0.01"
                           ng-change="teg();calcul();assu()" placeholder=""></md-slider>
            </md-input-container>
            <md-input-container flex="15">
                <input type="text" class="form-control" ng-value="model.tauxAssurance +(model.tauxAssurance ? ' %' : '')" aria-label="taux d'assurance" ng-model="model.tauxAssurance" disabled ng-change="teg();calcul();assu()">
            </md-input-container>
            <md-input-container flex="15">
                <input type="text" class="form-control" aria-label="prix assurance par mois" ng-value="model.assurance" disabled >
            </md-input-container>
        </md-content>

        <md-content layout="row" layout-padding class="adapt-form">
            <md-input-container>
                <label>TEG</label>
                <input type="text" class="form-control" aria-label="taux emprunt global" ng-value="model.tauxGlobal | number:2 " disabled>
            </md-input-container>
            <md-input-container class="md-button-form">
                <md-button class="md-raised btn-color-form" aria-label="comment" ng-click="reset()">
                    réinitialiser
                </md-button>
            </md-input-container>
        </md-content>
    </div>

    <div layout-fill hide-gt-md>
        <md-content  layout="row" layout-padding class="adapt-form">
            <md-input-container flex="30" flex-xs="50" >
                <label>Durée </label>
                <input type="number" ng-model="model.annee" ng-value="model.annee" aria-label="durée en année" ng-change="calcul()">
            </md-input-container>
            <md-input-container flex="30" flex-xs="50" style="margin-left: 2%">
                <label>Capital </label>
                <input type="number" ng-model="model.capital" ng-change="calcul()" aria-label=""/>
            </md-input-container>
        </md-content>

        <md-content  layout="row" layout-padding class="adapt-form">
            <md-input-container flex="30" flex-xs="50">
                <label>Taux emprunt</label>
                <input type="number" aria-label="taux fixe" ng-model="model.tauxNominal" ng-change="teg();calcul()">
            </md-input-container>
            <md-input-container flex="30" flex-xs="50" style="margin-left: 2%;">
                <label>Taux assurance</label>
                <input type="number" flex="" aria-label="taux d'assurance" ng-model="model.tauxAssurance" ng-change="teg();calcul()">
            </md-input-container>
            <md-input-container flex="30" hide-xs>
                <input type="text" class="form-control" disabled aria-label="prix assurance par mois" ng-value="model.assurance" >
            </md-input-container>
        </md-content>

        <md-content  layout="row" layout-padding class="adapt-form" hide-gt-xs>
            <md-input-container flex="50">
                <label>Prix assurance</label>
                <input type="text" disabled class="form-control" aria-label="prix assurance par mois" ng-value="model.assurance" placeholder="">
            </md-input-container>
            <md-input-container flex="50" style="margin-left: 2%;">
                <label>TEG</label>
                <input type="text" disabled class="form-control"  aria-label="taux emprunt global" ng-value="model.tauxGlobal | number:2 " placeholder="">
            </md-input-container>
         </md-content>

        <md-content  layout="row" layout-padding class="adapt-form">
            <md-input-container flex="60" hide-xs>
                <label>TEG</label>
                <input type="text" aria-label="taux emprunt global" ng-value="model.tauxGlobal | number:2 " disabled>
            </md-input-container>
            <md-input-container  flex="40" class="md-button-form">
                <md-button class="md-raised btn-color-form" aria-label="comment" ng-click="reset()">
                    <span hide-xs>réinitialiser</span>
                    <md-icon md-svg-icon="public/img/ic_autorenew.svg" hide-gt-xs></md-icon>
                </md-button>
            </md-input-container>
        </md-content>
    </div>
</md-content>

