<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" style="height:80px">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group" style="margin-top: 20px">
                <div class="col-sm-2">
                    <a href="https://github.com/rbens/creditDemo">GitHub project</a>
                </div>
                <div class="col-sm-8">
                    <a href="https://angularjs.org/" style="margin-left:10px">AngularJs</a>
                    <a href="https://material.angularjs.org" style="margin-left:10px">Angular material</a>
                    <a href="https://github.com/pablojim/highcharts-ng" style="margin-left:10px">Highcharts-ng</a>
                </div>
            </div>
        </form>
    </div>
</nav>