<div class="panel no-bottom" >
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" >
        <div class="md-toolbar-tools modal-dialog panel-title-size">
            <h3 class="panel-title">Tableau d'amortissement</h3>
        </div>
    </md-toolbar>
    <div class="panel-body">
        <ul>
            <li><label>Mois</label>
                <p> Le mois en cours.</p>
            </li>
            <li><label>Intérets payés</label>
                <p>Intérets payés sur le mois en cours.</p>
            </li>
            <li><label>Capital remboursé </label>
                <p>Remboursement du capital emprunté sur le mois en cours.</p>
            </li>
            <li><label>Assurance </label>
                <p>Prix de l'assurance sur le mois en cours. Il ne varie pas.</p>
            </li>
            <li><label>Capital Restant </label>
                <p>Capital restant dû.</p>
            </li>
        </ul>
    </div>
</div>
