<div class="panel panel-default overlay" id="chart" ng-show="model.mensualite != 0" flex-offset="5" flex-offset-gt-md="10" style="padding-left: 0; padding-right: 0;">
    <md-toolbar class="demo-toolbar md-primary" flex>
        <div class="md-toolbar-tools panel-dialog">
            <md-button class="btn-color-nav" aria-label="repartiton" ng-click="swapChartType(0)" style="font-size: 55%;" ng-class="{'btn-color-form' : option.config === 'pie'}">
                <md-icon class="padding-icon-text" md-font-icon="ic_pie_chart_outlined_white_24px" ></md-icon>
                <span hide-gt-sm>Répartition rembours.</span><span hide-xs hide-sm>répartition du remboursement</span>
            </md-button>
            <md-button class="btn-color-nav" aria-label="dette" ng-click="swapChartType(2)"  style="font-size: 55%;" ng-class="{'btn-color-form' :  option.config === 'area'}">
                <md-icon class="padding-icon-text" md-font-icon="ic_trending_down_white_24px"></md-icon>
                <span hide-gt-sm>évolution Dette</span><span hide-xs hide-sm>évolution de la dette</span>
            </md-button>
            <md-button class="btn-color-nav" aria-label="remboursement" ng-click="swapChartType(1)" style="font-size: 55%;" ng-class="{'btn-color-form' : option.config === 'line'}">
                <md-icon class="padding-icon-text" md-font-icon="ic_trending_up_white_24px" ></md-icon>
                <span hide-gt-sm>Remboursement crédit</span><span hide-xs hide-sm>évolution du remboursement</span>
            </md-button>
        </div>
    </md-toolbar>
    <div class="panel-body" >
        <div class="row">
            <div cg-busy="{promise:promiseForm}">
                <highchart id="chart1" config="pie" ng-if="option.config === 'pie'" ng-style="{width : panelWidth}" ></highchart>
                <highchart id="chart2" config="line" ng-if="option.config === 'line'" ng-style="{width : panelWidth}" ></highchart>
                <highchart id="chart3" config="area" ng-if="option.config === 'area'" ng-style="{width : panelWidth}"></highchart>
            </div>
        </div>
    </div>

</div>
