<div>
    <div class="modal-header">
        <h3 class="modal-title">Informations</h3>
    </div>
    <div class="modal-body">
        <blockquote>
            <p>
                <small>Ce site permet de se faire une id&eacute;e de ce que co&ucirc;te un cr&eacute;dit.
                </small>
            </p>
            <p>
                <small>Le calcul se base sur une formule g&eacute;n&eacute;rique avec un r&eacute;sultat
                    satisfaisant.
                </small>
            </p>
            <p>
                <small>L'int&eacute;ret est de mieux comprendre dans le d&eacute;tail votre remboursement.
                </small>
            </p>
        </blockquote>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">Fermer</button>
    </div>
</div>