<div class="panel no-bottom">
    <md-toolbar class="demo-toolbar" >
        <div class="md-toolbar-tools modal-dialog panel-title-size">
            <h3 class="panel-title">Information d'utilisation</h3>
        </div>
    </md-toolbar>
    <div class="panel-body">
        <ul>
            <li><label>Durée d'emprunt</label>
                <p> Vous pouvez définir votre durée de remboursement en année et ce jusqu'a 35 ans maximun </p>
            </li>
            <li><label>Capital emprunté</label>
                <p>C'est le montant du prêt en euro. Si des frais de notaires sont indiqués, cela sera ajouté au capital à emprunter dans le calcul des mensualités </p>
            </li>
            <li><label>Taux d'emprunt</label>
                <p> Le taux d'emprunt fixe et constant. </p>
            </li>
            <li><label>Assurance</label>
                <p>De manière facultative, vous pouvez préciser le taux pour l'assurance emprunteur.</p>
            </li>
            <li><label>Frais de notaire (FDN)</label>
                <p>Renseignez les champs pour obtenir une estimation des frais à prévoir (Le montant apparait dans la partie Résultat).
                   Ce montant est pris en compte dans le calcul de vos mensualités</p>
            </li>

        </ul>
    </div>
</div>
