<md-content class="panel" id="results" style="padding-left: 0; padding-right: 0;max-height : 95%" ng-show="market.rates.length > 0">
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" >
        <div class="md-toolbar-tools panel-dialog">
            <h3 class="panel-title">Taux du marché</h3>
            <span flex></span>
            <md-button class="md-icon-button icon-color" aria-label="Settings" ng-click="market.modalRate($event)">
                <md-tooltip>Cliquez pour les détails</md-tooltip>
                <md-icon md-font-icon="info_outline"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout-padding style="padding: 1px;overflow-y: hidden;margin-left: 15%">
        <md-radio-group  class="md-radio-group" ng-repeat="result in market.rates" ng-model="market.rates.id" ng-click="market.updateRate(result)">
            <md-radio-button ng-value="result.id" class="md-primary md-radio-button">
                <span ng-style="{
                    background: market.currentId === $index && !market.isCancel? market.colorAccent : '',
                    color: market.currentId === $index && !market.isCancel ? 'white':''
                }">{{result.rate}} sur {{result.years}} ans</span>
            </md-radio-button>
        </md-radio-group>
    </md-content>
    </md-content>

