<!-- header -->
<md-toolbar class="demo-toolbar md-primary">
    <div class="md-toolbar-tools" >
        <h1 class="font-cool">Calculez votre crédit !</h1>
        <span flex></span>
        <md-button flex="15" aria-label="menu" class="menu-color" hide-sm hide-xs >
            Durée
            <md-icon class="space-icon" md-svg-icon="public/img/check_circle_black.svg" ng-show="model.annee"></md-icon>
        </md-button>
        <md-button flex="15" aria-label="menu" class="menu-color" hide-sm hide-xs >
            Capital
            <md-icon class="space-icon" md-svg-icon="public/img/check_circle_black.svg" ng-show="model.capital"></md-icon>
        </md-button>
        <md-button flex="15" aria-label="menu" class="menu-color" hide-sm hide-xs >
            Taux d'int&eacute;ret
            <md-icon class="space-icon" md-svg-icon="public/img/check_circle_black.svg" ng-show="model.tauxNominal"></md-icon>
        </md-button>
        <span flex></span>
        <md-button aria-label="menu" class="md-raised btn-color-form" ng-click="openVideo()" hide-sm hide-xs>
            <md-icon md-svg-src="public/img/movie_white_18px.svg"></md-icon> Demo vidéo
        </md-button>
    </div>
</md-toolbar>
<br>
<!-- content -->
<div layout="column">
    <div layout="row" layout-xs="column" layout-sm="column">
        <div flex-offset="5" flex="15" hide-xs hide-md hide-sm>
            <market-rate></market-rate>
        </div>
        <div flex="95" flex-gt-sm="60" flex-gt-md="45">
            <credit-form></credit-form>
        </div>
        <div flex="95" flex-gt-sm="35" flex-gt-md="30">
            <credit-result></credit-result>
        </div>
    </div>
    <div layout-gt-md="row" layout-xs="column" layout-sm="column" layout-md="column">
        <div flex="95" flex-gt-md="50">
            <chart-result ng-show="model.amortissements.length > 0"></chart-result>
        </div>
        <div flex="95" flex-gt-md="45">
            <tab-result ng-show="model.amortissements.length > 0"></tab-result>
        </div>
    </div>
</div>


