<!-- header -->
<div class="navbar navbar-default navbar-inverse hidden-xs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"><h2 style="margin-top: 0">Simulez votre crédit !</h2></a>
        </div>
    </div>
</div>
<div class="jumbotron hidden-xs" >
    <div class="container ">
        <form class="form-inline " role="form">
            <div class="form-group col-md-4">
                <div class="todo-content">
                    <h4 class="btn todo-name base-class"
                        ng-class="{'my-class': model.annee!=0,'no-class' : model.annee==0}">
                        Définissez sa durée<span style="padding-left: 10px" class="fui-check-circle"
                                                 ng-show="model.annee!=0"></span>
                    </h4>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="todo-content">
                    <h4 class="btn todo-name base-class"
                        ng-class="{'my-class': model.capital,'no-class' : !model.capital}">
                        Le capital à emprunter<span style="padding-left: 10px" class="fui-check-circle"
                                                    ng-show="model.capital"></span>
                    </h4>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="todo-content">
                    <h4 class="btn todo-name base-class"
                        ng-class="{'my-class': model.tauxNominal!=0,'no-class' : model.tauxNominal==0}">
                        Fixez son taux d'int&eacute;ret<span style="padding-left: 10px" class="fui-check-circle"
                                                             ng-show="model.tauxNominal!=0"></span>
                    </h4>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- content -->
<div class="container-fluid main-content">
    <div class="container col-sm-12 col-xs-12">
        <market-rate></market-rate>
        <credit-form></credit-form>
        <credit-result></credit-result>
        <chart-result ng-show="model.amortissements.length > 0"></chart-result>
        <tab-result ng-show="model.amortissements.length > 0"></tab-result>
    </div>
</div>

<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" style="height:80px">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group" style="margin-top: 20px">
                <div class="col-sm-2">
                    <a href="https://github.com/rbens/creditDemo">GitHub project</a>
                </div>
                <div class="col-sm-8">
                    <a href="https://angularjs.org/" style="margin-left:10px">AngularJs</a>
                    <a href="https://material.angularjs.org" style="margin-left:10px">Angular material</a>
                    <a href="https://github.com/pablojim/highcharts-ng" style="margin-left:10px">Highcharts-ng</a>
                </div>
            </div>
        </form>
    </div>
</nav>
