<md-dialog class="panel no-bottom" aria-label="video tutoriel">
    <form ng-cloak>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" >
            <div class="md-toolbar-tools modal-dialog">
                <h3 class="panel-title">Démo</h3>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <video style="margin-left: 15%" width="70%" height="100%" autoplay poster="public/img/poster-video.png">
                <source src="public/video/tutoDemoV2-720.mp4" type="video/mp4">
            </video>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-switch ng-model="hideVideo" aria-label="Switch 1" >
                Ne plus afficher la démo la prochaine fois
            </md-switch>
            <span flex></span>
            <md-button ng-click="hide()">
                Passer la vidéo
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>