<md-dialog class="panel no-bottom" aria-label="video tutoriel">
    <form ng-cloak>
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" >
            <div class="md-toolbar-tools modal">
                <h3 class="panel-title">Tutorial d'utilisation</h3>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <video width="75%" height="75%" autoplay poster="public/img/poster-video.png">
                <source src="https://dl.dropboxusercontent.com/s/yh86iargdllkhll/tutoDemoCredit720.mp4?dl=0" type="video/mp4">
            </video>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-switch ng-model="hideVideo" aria-label="Switch 1" >
                Ne plus afficher la démo la prochaine fois
            </md-switch>
            <span flex></span>
            <md-button ng-click="hide()">
                Passer la vidéo
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>