
.add_white:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -0em 0;
}

.check_circle_black:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -2.4em 0;
}

.check_circle_white:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -4.8em 0;
}

.clear_white:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -7.2em 0;
}

.ic_autorenew:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -9.6em 0;
}

.ic_movie:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -12em 0;
}

.ic_pie_chart_outlined_white_24px:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -14.4em 0;
}

.ic_trending_down_white_24px:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -16.8em 0;
}

.ic_trending_up_white_24px:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -19.2em 0;
}

.info_outline:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -21.6em 0;
}

.keyboard_arrow_left:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -24em 0;
}

.keyboard_arrow_right:before {
	width: 2.4em;
	height: 2.4em;
	background-position: -26.4em 0;
}

.movie_white_18px:before {
	width: 1.8em;
	height: 1.8em;
	background-position: -28.8em 0;
}

.add_white,
.check_circle_black,
.check_circle_white,
.clear_white,
.ic_autorenew,
.ic_movie,
.ic_pie_chart_outlined_white_24px,
.ic_trending_down_white_24px,
.ic_trending_up_white_24px,
.info_outline,
.keyboard_arrow_left,
.keyboard_arrow_right,
.movie_white_18px {
	font-size:10px;
}

.add_white:before,
.check_circle_black:before,
.check_circle_white:before,
.clear_white:before,
.ic_autorenew:before,
.ic_movie:before,
.ic_pie_chart_outlined_white_24px:before,
.ic_trending_down_white_24px:before,
.ic_trending_up_white_24px:before,
.info_outline:before,
.keyboard_arrow_left:before,
.keyboard_arrow_right:before,
.movie_white_18px:before {
	content:' ';
	vertical-align:middle;
	display: inline-block;
	background-image: url("svg-sprite.svg");
	background-repeat: no-repeat;
	background-size: 30.6em 2.4em;
}
